<!--ngIF-->
<!--<p class="blue" *ngIf="toggler; else redP" >lorem</p>-->

<!--<ng-template #redP>-->
<!--  <p  class="red">lorem</p>-->
<!--</ng-template>-->


<!--ngSwitch-->
<!--<button (click)="switcher()">toggle</button>-->

<!--<div [ngSwitch]="toggler">-->
<!--  <p *ngSwitchCase="true">true</p>-->
<!--  <p *ngSwitchCase="false">false</p>-->
<!--  <p *ngSwitchDefault>default</p>-->
<!--</div>-->


<!--ngFor-->
<!--<ul>-->
<!--  <li *ngFor="let person of obj">-->
<!--    <span>{{person.name}}</span>-->
<!--    -->
<!--    <div *ngFor="let com of person.comments">-->
<!--      {{com}}-->
<!--    </div>-->

<!--    <div *ngFor="let friend of person.friends">-->
<!--      {{friend}}-->
<!--    </div>-->

<!--  </li>-->
<!--</ul>-->


<!--Pipes-->
<!--<p>{{now | date: 'timer' | uppercase}}</p>-->


<div class="container">
  <h1>Angular</h1>

  <app-form></app-form>
  <app-post-form (onAdd)="createPost($event)"></app-post-form>

  <app-post
    *ngFor="let post of posts"
    (onDelete)="removePost($event)"
    [item]="post"
    [value]="value"
  >
    <small *ngIf="post.content.length < 10; else BigPost">post is small</small>
    <ng-template #BigPost>
      <small>post is big</small>
    </ng-template>
  </app-post>


  <p appstyle="'red'" [fs]="'30px'">directive</p>

  <button (click)="toggle()">toggle</button>
<!--  <p *ngIf="isVisible" >Toggle me pls!!!!!</p>-->

  <!-- OR -->

  <ng-template [ngIf]="isVisible">
    <p>toggle me </p>
  </ng-template>
    <ng-template [appIfnot]="isVisible">
      <p>toggle me not</p>
    </ng-template>

  <p>{{2 | mult: 11}}</p>

  <app-train></app-train>
  <app-train></app-train>
  <app-rx></app-rx>

</div>

